body {
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #f0e2d0;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  /*default 16px 90px/16px = 5.625 = 562.5%*/
  /* 1em = 16px */
  line-height: .5;
}

h2 {
  color: #f0e2d0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #c6ebc9;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #c6ebc9;
}

/***************************************Class Sytles*****************************/
.topContainer {
  background-color: #70af85;
  /*display: grid;*/
  position: relative;
  padding-top: 100px;
}

.middleContainer {
  background-color: #70af85;
}

.bottomContainer {
  background-color: #70af85;
}

.pro {
  text-decoration: underline;
}

.cloudBottom {
  position: absolute;
  right: 20%;
  top: 50px;
}

.cloudtop {
  position: absolute;
  left: 20%;
  bottom: 300px;
}

/*.clouds {
  width: 200px;
  height: 75px;
}
*/
